<?xml version="1.0" encoding="UTF-8"?>
<!-- Java EE version 8 -->
<!-- 
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
-->
<!-- Java EE version 7 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    	 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
    
  <display-name>javaWebEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Instantiate Entity of HRServlet --> 
  <servlet>
  	<servlet-name>HR</servlet-name>
  	<servlet-class>javaWebEE.hr.controller.HRServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>HR</servlet-name>
  	<url-pattern>/hr</url-pattern>
  </servlet-mapping>

</web-app>